<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="app-nav-bar">
      <ion-nav-back-button class="button-icon button-clear ion-ios-arrow-left app-text-color">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon app-text-color" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-gear-outline app-text-color" ng-click="">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="left-sidemenu-container">
      <div class="sidemenu-profile">
        <div class="row">
          <div class="col col-40">
            <img src="img/profile-00.jpg">
          </div>
          <div class="col col-60">
            <div class="profile-user-info">
              <p class="user-name">Jon Smith</p>
              <a menu-close class="button button-outline icon-right ion-power app-outline-color signout-btn"  href="#/start/home">SIGN OUT</a>
            </div>
          </div>
        </div>
      </div>
      <ion-list class="left-sidemenu-list dark-bg">
        <ion-item menu-close class="item-icon-left" href="#/app/dashboard">
          <i class="icon ion-android-apps"></i>
          Dashboard
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/dashboard">
          <i class="icon ion-ios-bolt-outline"></i>
          Activity
        </ion-item>
        <ion-item menu-close class="item-icon-left item-icon-right" href="#/app/dashboard">
          <i class="icon ion-ios-email-outline"></i>
          Messages
          <span class="app-badge-number">1</span>
          <img src="img/badge.png" class="icon app-badge-background">
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/contacts">
          <i class="icon ion-android-people"></i>
          Contacts
        </ion-item>
        <ion-item menu-close class="item-icon-left item-icon-right" href="#/app/dashboard">
          <i class="icon ion-ios-chatbubble-outline"></i>
          Chat
          <span class="app-badge-number">2</span>
          <img src="img/badge.png" class="icon app-badge-background">
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/calendar">
          <i class="icon ion-ios-calendar-outline"></i>
          Calendar
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/dashboard">
          <i class="icon ion-help-buoy"></i>
          Places
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
